services:
  vision-api:
    image: vision-api
    container_name: vision-api
    platform: linux/amd64
    ports:
      - "5001:5000"
    volumes:
      - ./test_images:/app/test_images:ro
      - ./output:/app/output
    restart: unless-stopped

  audio-api:
    image: audio-api
    container_name: audio-api
    platform: linux/amd64
    ports:
      - "5002:5000"
    volumes:
      - ./audio-requests:/requests
      - ./audio-results:/results
    restart: unless-stopped

  network-api:
    build: ./network-api
    container_name: network-api
    ports:
      - "3000:3000"
    volumes:
      - ./test_images:/app/test_images
      - ./output:/app/output
      - ./audio-requests:/app/test_audio
      - ./audio-results:/app/audio_output
    depends_on:
      - vision-api
      - audio-api
    restart: unless-stopped
